{% if data.mee %}
<script type="text/javascript" src="{{path}}/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{path}}/plugins/texteditor/plugin_tinymce3_texteditor/mee/mee/js/mee_src.js"></script>
<script type="text/javascript" src="{{path}}/plugins/texteditor/plugin_tinymce3_texteditor/mee/mee/js/mee.js"></script>
{% endif %}
<script>
    var cfgRootPath = '{{path}}';
    function triggerSave() {
        if (typeof(tinyMCE) != "undefined") {
            tinyMCE.triggerSave();
        };
    };
</script>